---
secrets:
{{- range $k, $v := .Values.secrets }}
  {{ $k }}:
    name: {{ $k }}
    namespace: {{ $v.namespace }}
    secretKVs:
    {{- range $key, $value := $v.kvs }}
      {{ $key }}: {{ $value | quote }}{{ end }}
{{- end }}
