---
{{ if .Values.caBundle.create }}
secrets:
  sthings-custom-certs:
    name: {{ .Values.caBundle.secretName }}
    namespace: {{ .Values.namespace }}
    labels:
      app: {{ .Values.app }}
    dataType: stringData
    secretKVs:
      bundle-ca.crt: {{ .Values.caBundle.path }}
{{ end }}