---
customresources:
  ca-bundle:
    apiVersion: v1
    kind: Secret
    metadata:
      name: {{ .Values.certName }}
      namespace: {{ .Values.namespace }}
    annotations:
      meta.helm.sh/release-name: awx-ca-bundle
      meta.helm.sh/release-namespace: awx
    labels:
      app.kubernetes.io/managed-by: Helm
    type: Opaque
    data:
    {{- range $k, $v := .Values.instances }}
      bundle-ca.crt: |-
        {{ ($v.secret | fetchSecretValue) | b64enc }}
    {{- end }}