---
customresources:
  ingress-certificate-headlamp:
    apiVersion: cert-manager.io/v1
    kind: Certificate
    metadata:
      name: headlamp-ingress
      namespace: {{ .Release.Namespace }}
    spec:
      commonName: {{ .Values.hostname }}.{{ .Values.domain }}
      dnsNames:
        - {{ .Values.hostname }}.{{ .Values.domain }}
      issuerRef:
        name: {{ .Values.clusterIssuer }}
        kind: ClusterIssuer
      secretName: {{ .Values.hostname }}-ingress-tls
