---
secrets:
  cloud:
    name: cloud
    namespace: {{ .Release.Namespace }}
    dataType: stringData
    secretKVs:
      USERNAME: {{ .Values.cloudUsername }}
      PASSWORD: {{ .Values.cloudPassword }}