---
secrets:
  gcr-{{ .Environment.Name }}:
    name: gcr-{{ .Environment.Name }}
    namespace: {{ .Release.Namespace }}
    labels:
      app: tekton
    dataType: data
    secretKVs:
      gcr.json: {{ .Values.gcrDockerJson }}