---
secrets:
  scr-{{ .Environment.Name }}-inline:
    name: scr-{{ .Environment.Name }}-inline
    namespace: {{ .Release.Namespace }}
    labels:
      app: tekton
      technology: buildah
    secretKVs:
      username: {{ .Values.scrUsername }}
      password: {{ .Values.scrPassword }}