apiVersion: v1
kind: ServiceAccount
metadata:
  annotations:
    meta.helm.sh/release-name: {{ .Values.appName }}
    meta.helm.sh/release-namespace: {{ .Values.appName }}
  labels:
    app.kubernetes.io/instance: {{ .Values.appName }}
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: {{ .Values.appName }}
    helm.sh/chart: {{ .Values.chartVersion }}
  name: {{ .Values.appName }}
  namespace: {{ .Values.appName }}

