---
workspaces:
 {{ .Values.kanikoWorkspaceName }}:
   namespace: {{ .Release.Namespace }}
   volumeMode: Filesystem
   storageClassName: {{ .Values.storageClassName }}
   storage: {{ .Values.kanikoWorkspaceStorage }}
   accessModes:
     - {{ .Values.kanikoWorkspaceAccessMode }}