---
master:
  service:
    type: LoadBalancer
  persistence:
    enabled: false
    medium: ""
replica:
  replicaCount: 2
  persistence:
    enabled: false
    medium: ""
auth:
  password: {{ .Values.redisPassword }}