---
gitSecretsSSH:
  codehub:
    name: codehub-ssh
    namespace: {{ .Release.Namespace }}
    labels:
      app: yacht-tekton
    dataType: data
    secretKVs:
      id_rsa: {{ .Values.sshCodehubCredentials }}
  github:
    name: github-ssh
    namespace: {{ .Release.Namespace }}
    labels:
      app: yacht-tekton
    dataType: data
    secretKVs:
      id_rsa: {{ .Values.sshGithubCredentials }}
