---
runs:
  testRunHelmChart:
    name: {{ .Release.Name }}-testrun-{{ randAlphaNum 5 | lower }}
    addRandomDateToRunName: false
    namespace: yacht-tekton
    kind: Pipeline
    ref: package-publish-helmchart
    params:
      git-repo-url: git@github.com:stuttgart-things/stuttgart-things.git
      git-revision: main
      gitWorkspaceSubdirectory: /helm/sthings-cluster
      helm-chart-path: charts
      helm-chart-name: sthings-cluster
      helm-chart-tag: 0.2.1
      registry: scr.tiab.labda.sva.de
      working-image: eu.gcr.io/stuttgart-things/sthings-k8s:1.127.2
    workspaces:
      ssh-credentials:
        workspaceKind: secret
        workspaceRef: codehub-ssh
      source:
        workspaceKind: persistentVolumeClaim
        workspaceRef: tekton-kaniko-workspace
      dockerconfig:
        workspaceKind: secret
        workspaceRef: scr-{{ .Environment.Name }}
