{{ if .Values.enableCronJobCleaner }}
{{- $envVar := . -}}
{{- range $clusterRoleName, $clusterRole := .Values.clusterRoles -}}
{{ include "sthings-helm-toolkit.cluster-role" (list $envVar $clusterRoleName $clusterRole) }}
{{ end -}}
{{ end }}