---
name: Release module
on:
  workflow_call:
    inputs:
      module-name:
        required: true
        type: string
      tag-name:
        required: true
        type: string
      archive-kind:
        required: false
        type: string
        default: zip
      release-message:
        required: true
        type: string
      runs-on:
        required: true
        type: string
      environment-name:
        default: k8s
        required: true
        type: string
      continue-error:
        default: false
        required: true
        type: boolean

jobs:
  Package-Relase-Module:
    runs-on: ${{ inputs.runs-on }}
    container:
      image: joshkeegan/zip:3.20.0
    environment: ${{ inputs.environment-name }}
    permissions:
      contents: write
    continue-on-error: ${{ inputs.continue-error }}
    steps:
      - name: Checkout code
        id: checkout
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: '0'

      - name: Package module (zip)
        id: zip
        if: ${{ inputs.archive-kind == 'zip' }}
        run: |
          zip -r ${{ inputs.module-name }}.zip * -j
          echo "artifact=${{ inputs.module-name }}.zip" >> $GITHUB_ENV

      - name: Package module (tar.gz)
        id: tar
        if: ${{ inputs.archive-kind == 'tar.gz' }}
        run: |
          artifact=$(basename $PWD).tar.gz
          touch ${artifact}
          tar -czf ${artifact} --exclude=${artifact} .
          echo "artifact=${artifact}" >> $GITHUB_ENV

      - name: Release module
        id: release
        uses: ncipollo/release-action@v1.14.0
        with:
          name: ${{ inputs.tag-name }}
          artifacts: ${{ env.artifact }}
          body: ${{ inputs.release-message }}
          tag: ${{ inputs.tag-name }}
