---
name: Dispatch Hugo
on:
  workflow_dispatch:

  push:
    branches:
      - '**'
    paths:
      - 'hugo/*'

jobs:
  markdown-lint:
    name: Lint markdown files
    uses: stuttgart-things/stuttgart-things/.github/workflows/call-markdown-lint.yaml@main
    with:
      environment-name: k8s
      runs-on: ghr-stuttgart-things-labda-test
      continue-error: true
      alpine-version: 3.19.0
      lintprofile-path: .markdownlint.rb
      artifact-name: md-lint
      
  yaml-lint:
    name: Lint yaml files
    uses: stuttgart-things/stuttgart-things/.github/workflows/call-yaml-lint.yaml@main
    with:
      environment-name: k8s
      runs-on: ghr-stuttgart-things-labda-test
      continue-error: true
      yamllint-version: 1
      lintprofile-path: .yamllint
      artifact-name: yaml-lint

  build-hugo:
    name: Build hugo
    uses: stuttgart-things/stuttgart-things/.github/workflows/call-hugo-build.yaml@main
    with:
      environment-name: labul-vsphere
      runs-on: ghr-stuttgart-things-labda-test
      image: floryn90/hugo:0.126.1-ext-ubuntu-ci
      creation-script-path: hugo/create-sthings.sh
      site-name: sthings
      s3-bucket: hugo
      s3-endpoint: https://artifacts.app1.sthings-vsphere.labul.sva.de:443
      s3-alias: s3
    secrets: inherit
