---
name: Build Container Image w/ kaniko
on:
  push:
    branches:
      - "*"
    paths:
      - 'images/*/*'

  pull_request:
    paths:
      - 'images/*/*'

jobs:
  Get-Changed-Dockerfiles:
    runs-on: ghr-stuttgart-things-labda-test
    container:
      image: eu.gcr.io/stuttgart-things/machineshop:v1.7.2-2
    environment: k8s
    outputs:
      contexts: ${{ steps.json.outputs.contexts }}
      contexts1: ${{ steps.json.outputs.contexts1 }}
    continue-on-error: false
    steps:
      - name: Checkout code
        id: git
        uses: actions/checkout@v4.1.7
        with:
          path: source
          fetch-depth: '0'

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          since_last_remote_commit: true
          path: source
          files: |
            images/*/*

      - name: List all changed files
        id: json
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          changed_image_dirs=()

          for path in ${ALL_CHANGED_FILES}; do
            echo "$path was changed"
            image_context=${path%/*}
            image_context=${image_context##*/}
            image_path=$(printf '%s\n' "$image_context")
            changed_image_dirs+=("$image_path")
          done

          # HARDCODED / TEST
          # build_contexts_hardcoded='{ "context-path": ["sthings-alpine", "sthings-minio"] }'
          # echo "contexts=$build_contexts_hardcoded" >> "$GITHUB_OUTPUT"

          part1=$(printf contexts="'"{)
          part2=$(printf '"context-path"': )
          part3=$(jq -c -n '$ARGS.positional' --args "${changed_image_dirs[@]}")
          part4=$(printf }"'")

          build_contexts_test=$(echo ${part1} ${part2} ${part3} ${part4} | jq -c '. | map(split("/")[0]) | unique')
          echo ${build_contexts_test}

          echo "contexts=echo ${build_contexts_test}" >> "$GITHUB_OUTPUT"
          contexts1='{ "context-path": ["sthings-alpine", "sthings-minio"] }'
          echo "contexts1=$contexts" >> "$GITHUB_OUTPUT"
        shell: bash

      # - name: build matrix
      #   run: |
      #     contexts='{ "context-path": ["sthings-alpine", "sthings-minio"] }'
      #     echo "contexts=$contexts" >> "$GITHUB_OUTPUT"

  Test:
    needs: Get-Changed-Dockerfiles
    runs-on: ghr-stuttgart-things-labda-test
    container:
      image: eu.gcr.io/stuttgart-things/machineshop:v1.7.2-2
    environment: k8s
    continue-on-error: false
    steps:
      - name: Echo
        run: |
          echo ${{ needs.Get-Changed-Dockerfiles.outputs.contexts }}
          echo ${{ needs.Get-Changed-Dockerfiles.outputs.contexts1 }}
          echo ${{ fromJson(needs.Get-Changed-Dockerfiles.outputs.contexts1) }}


  # Build-Images:
  #   needs: Get-Changed-Dockerfiles
  #   strategy:
  #     fail-fast: false
  #     matrix: ${{ fromJson(needs.Get-Changed-Dockerfiles.outputs.contexts) }}
  #   uses: stuttgart-things/stuttgart-things/.github/workflows/call-kaniko-build.yaml@main
  #   with:
  #     runs-on: ghr-stuttgart-things-labda-test
  #     environment-name: k8s
  #     dockerfile: images/${{ matrix.context-path }}/Dockerfile
  #     registry: ghcr.io
  #     repository: stuttgart-things
  #     image: ${{ matrix.context-path }}
  #     tag: latest
  #     kaniko-image: gcr.io/kaniko-project/executor
  #     kaniko-tag: debug
  #     push-retrys: "5"