name: Rollout GitHub Runner
on:
  pull_request:
    types:
      - opened
      - reopened

jobs:
  Get-Runner-Config:
    if: contains(github.event.pull_request.labels.*.name, 'test')
    environment: k8s
    container:
      image: eu.gcr.io/stuttgart-things/machineshop:v1.7.2-2
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write
      id-token: write
    runs-on: ghr-stuttgart-things-sthings-cicd
    steps:
      - name: Checkout code/branch
        id: checkout
        uses: actions/checkout@v4

      - name: Get token for creating pull request
        uses: tibdex/github-app-token@v1
        id: generate-token
        with:
          app_id: ${{ secrets.PULLREQUESTER_APP_ID }}
          private_key: ${{ secrets.PULLREQUESTER_APP_KEY }}

      - name: Set Build Details
        id: set
        run: |
          echo "HELLO"
          echo ${{ github.event.pull_request.number }}
          git config --global --add safe.directory /__w/stuttgart-things/stuttgart-things
          gh pr list
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}

      - name: Comment PR with execution number
        uses: thollander/actions-comment-pull-request@v2
        with:
          message: |
            _(execution **${{ github.run_id }}** / attempt **${{ github.run_attempt }}**)_
          comment_tag: execution

      - name: Comment PR
        uses: thollander/actions-comment-pull-request@v2
        with:
          message: |
            :wave: successful build of vm template: ubuntu23-vsphere-base-os


      - name: Add please-review label on command in issue comment
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea
        with:
          github-token: ${{ steps.generate-token.outputs.token }}
          script: |
            await github.rest.issues.addLabels({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: ["please-review2"]
            })

      - name: Remove label
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea
        with:
          github-token: ${{ steps.generate-token.outputs.token }}
          script: |
            await github.rest.issues.removeLabel({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              name: ["test"]
            })

      - name: Set Build Details
        id: reopen
        run: |
          git config --global --add safe.directory /__w/stuttgart-things/stuttgart-things
          gh pr close ${{ github.event.pull_request.number }}
          gh pr reopen ${{ github.event.pull_request.number }}
          gh pr list
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}