name: Rollout GitHub Runner
on:
  pull_request:
    types:
      - opened
      - reopened

jobs:
  Get-Runner-Config:
    if: contains(github.event.pull_request.labels.*.name, 'please-review2')
    container:
      image: eu.gcr.io/stuttgart-things/machineshop:v1.7.2
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write
      id-token: write
    runs-on: ghr-stuttgart-things-sthings-cicd
    steps:
      - name: Set Build Details
        id: set
        run: |
          echo "HELLO"

      - name: Find Comment
        uses: peter-evans/find-comment@v3
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body-includes: Hello
      - run: |
          echo ${{ steps.fc.outputs.comment-id }}
          echo ${{ steps.fc.outputs.comment-node-id }}
          echo ${{ steps.fc.outputs.comment-body }}
          echo ${{ steps.fc.outputs.comment-author }}