runs:
  buildbuildahImage:
    name: {{ .Release.Name }}-testrun-{{ randAlphaNum 4 | lower }}
    addRandomDateToRunName: false
    namespace: {{ .Release.Namespace }}
    kind: Pipeline
    ref: build-buildah-image
    params:
      gitRepoUrl: git@github.com:stuttgart-things/stuttgart-things.git
      git-revision: main
      context: /buildah/{{ .Values.buildahTestRunImage }}/images/{{ .Values.buildahTestRunImage }}
      gitWorkspaceSubdirectory: /buildah/{{ .Values.buildahTestRunImage }}
      image: {{ .Values.registry }}/{{ .Values.buildahTestRunImage }}:{{ randAlphaNum 5 | lower }}
      dockerfile: images/{{ .Values.buildahTestRunImage }}/Dockerfile
      tlsVerify: false
      storagDriver: overlay
    workspaces:
      ssh-credentials:
        workspaceKind: secret
        workspaceRef: github-ssh
      shared-workspace:
        workspaceKind: persistentVolumeClaim
        workspaceRef: {{ .Values.buildahWorkspaceName }}
      dockerconfig:
        workspaceKind: secret
        workspaceRef: scr-{{ .Environment.Name }}