---
runs:
  buildbuildahImage:
    name: {{ .Release.Name }}-testrun-{{ randAlphaNum 4 | lower }}
    addRandomDateToRunName: false
    namespace: {{ .Release.Namespace }}
    kind: Pipeline
    ref: build-buildah-image
    params:
      gitRepoUrl: git@github.com:stuttgart-things/stuttgart-things.git
      gitRevision: main
      context: /buildah/{{ .Values.buildahTestRunImage }}/images/{{ .Values.buildahTestRunImage }}
      gitWorkspaceSubdirectory: /buildah/{{ .Values.buildahTestRunImage }}
      image: scr.app.4sthings.tiab.ssc.sva.de/{{ .Values.buildahTestRunImage }}/{{ .Values.buildahTestRunImage }}:12.6.11
      dockerfile: images/{{ .Values.buildahTestRunImage }}/Dockerfile
      tlsVerify: false
      storagDriver: overlay
      registry: scr.app.4sthings.tiab.ssc.sva.de
      {{- if .Values.buildahRegistryLogin }}
      registryInlineSecret: scr-labda-vsphere-inline
      {{- end }}
    workspaces:
      sshCredentials:
        workspaceKind: secret
        workspaceRef: github-ssh
      shared-workspace:
        workspaceKind: persistentVolumeClaim
        workspaceRef: {{ .Values.buildahWorkspaceName }}
      dockerconfig:
        workspaceKind: secret
        workspaceRef: gcr-{{ .Environment.Name }}