---
runs:
  packageHelmChartGithub:
    name: {{ .Release.Name }}-testrun-github-{{ randAlphaNum 5 | lower }}
    addRandomDateToRunName: false
    namespace: {{ .Release.Namespace }}
    kind: Pipeline
    ref: package-publish-helmchart
    params:
      gitRepoUrl: git@github.com:stuttgart-things/stuttgart-things.git
      gitRevision: main
      gitWorkspaceSubdirectory: /helm/sthings-cluster-github
      helmChartPath: charts
      helmChartName: sthings-cluster
      helmChartTag: 0.2.1
      registry: scr.tiab.labda.sva.de
      workingImage: eu.gcr.io/stuttgart-things/sthings-k8s:1.127.2
    workspaces:
      sshCredentials:
        workspaceKind: secret
        workspaceRef: github-ssh
      source:
        workspaceKind: persistentVolumeClaim
        workspaceRef: {{ .Values.helmWorkspaceName }}
      dockerconfig:
        workspaceKind: secret
        workspaceRef: scr-{{ .Environment.Name }}
  packageHelmChartCodehub:
    name: {{ .Release.Name }}-testrun-codehub-{{ randAlphaNum 5 | lower }}
    addRandomDateToRunName: false
    namespace: {{ .Release.Namespace }}
    kind: Pipeline
    ref: package-publish-helmchart
    params:
      gitRepoUrl: git@codehub.sva.de:Lab/stuttgart-things/stuttgart-things.git
      gitRevision: master
      gitWorkspaceSubdirectory: /helm/sthings-cluster-codehub
      helmChartPath: gitops/apps/
      helmChartName: sthings-cluster
      helmChartTag: 0.2.1
      registry: scr.tiab.labda.sva.de
      workingImage: eu.gcr.io/stuttgart-things/sthings-k8s:1.127.2
    workspaces:
      sshCredentials:
        workspaceKind: secret
        workspaceRef: codehub-ssh
      source:
        workspaceKind: persistentVolumeClaim
        workspaceRef: helm-workspace
      dockerconfig:
        workspaceKind: secret
        workspaceRef: scr-{{ .Environment.Name }}