---
runs:
  executeAnsible:
    name: {{ .Release.Name }}-testrun-{{ randAlphaNum 5 | lower }}
    addRandomDateToRunName: false
    namespace: {{ .Release.Namespace }}
    kind: Pipeline
    ref: execute-ansible-playbook
    params:
      gitRepoUrl: {{ .Values.testRunGitRepoSSHUrl }}
      gitRevision: {{ .Values.testRunGitRepoRevision }}
      gitWorkspaceSubdirectory: /ansible/{{ .Values.ansibleTestPlaybook }}
      ansibleWorkingImage: {{ .Values.ansibleWorkingImage }}
      installExtraRoles: "{{ .Values.installExtraRoles }}"
      createInventory: "{{ .Values.ansibleCreateInventory }}"
    listParams:
      ansibleVarsFile:
        {{- range .Values.ansibleVarsFile }}
        - {{ . }}{{- end }}
      {{- if and .Values.ansibleInventoryFile .Values.ansibleCreateInventory }}
      ansibleVarsInventory:
        {{- range .Values.ansibleInventoryFile }}
        - {{ . }}{{- end }}
      {{- end }}
      {{- if and .Values.ansibleExtraRoles .Values.installExtraRoles }}
      ansibleExtraRoles:
        {{- range .Values.ansibleExtraRoles }}
        - {{ . }}{{- end }}
      {{- end }}
      ansiblePlaybooks:
        {{- range .Values.ansiblePlaybooks }}
        - {{ . }}{{- end }}
    workspaces:
      sshCredentials:
        workspaceKind: secret
        workspaceRef: github-ssh
      shared-workspace:
        workspaceKind: persistentVolumeClaim
        workspaceRef: {{ .Values.ansibleWorkspaceName }}
