---
runs:
  buildKanikoImageGithub:
    name: {{ .Release.Name }}-testrun-github-{{ randAlphaNum 5 | lower }}
    addRandomDateToRunName: false
    namespace: {{ .Release.Namespace }}
    kind: Pipeline
    ref: build-kaniko-image
    params:
      gitRepoUrl: git@github.com:stuttgart-things/stuttgart-things.git
      gitRevision: main
      context: /kaniko/{{ .Values.kanikoTestRunImage }}-github/images/{{ .Values.kanikoTestRunImage }}
      gitWorkspaceSubdirectory: /kaniko/{{ .Values.kanikoTestRunImage }}-github
      image: {{ .Values.registry }}/{{ .Values.kanikoTestRunImage }}/ansible
      tag: 8.0.0-5
      registry: eu.gcr.io
      dockerfile: images/{{ .Values.kanikoTestRunImage }}/Dockerfile
    workspaces:
      sshCredentials:
        workspaceKind: secret
        workspaceRef: github-ssh
      shared-workspace:
        workspaceKind: persistentVolumeClaim
        workspaceRef: {{ .Values.kanikoWorkspaceName }}
      dockerconfig:
        workspaceKind: secret
        workspaceRef: scr-{{ .Environment.Name }}
  buildKanikoImageCodehub:
    name: {{ .Release.Name }}-testrun-codehub-{{ randAlphaNum 5 | lower }}
    addRandomDateToRunName: false
    namespace: {{ .Release.Namespace }}
    kind: Pipeline
    ref: build-kaniko-image
    params:
      gitRepoUrl: git@codehub.sva.de:Lab/stuttgart-things/stuttgart-things.git
      gitRevision: master
      context: /kaniko/sthings-alpine
      gitWorkspaceSubdirectory: /kaniko/sthings-alpine-codehub
      image: {{ .Values.registry }}/sthings-alpine/sthings-alpine
      tag: 230305-0403
      registry: {{ .Values.registry }}
      dockerfile: images/sthings-alpine/Dockerfile
    workspaces:
      sshCredentials:
        workspaceKind: secret
        workspaceRef: codehub-ssh
      shared-workspace:
        workspaceKind: persistentVolumeClaim
        workspaceRef: {{ .Values.kanikoWorkspaceName }}
      dockerconfig:
        workspaceKind: secret
        workspaceRef: scr-{{ .Environment.Name }}