runs:
  buildbuildahImageGithub:
    name: {{ .Release.Name }}-testrun-github-{{ randAlphaNum 5 | lower }}
    addRandomDateToRunName: false
    namespace: {{ .Release.Namespace }}
    kind: Pipeline
    ref: build-buildah-image
    params:
      gitRepoUrl: git@github.com:stuttgart-things/stuttgart-things.git
      git-revision: main
      context: /buildah/{{ .Values.buildahTestRunImage }}-github/images/{{ .Values.buildahTestRunImage }}
      gitWorkspaceSubdirectory: /buildah/{{ .Values.buildahTestRunImage }}-github
      image: {{ .Values.registry }}/{{ .Values.buildahTestRunImage }}/ansible
      dockerfile: images/{{ .Values.buildahTestRunImage }}/Dockerfile
    workspaces:
      ssh-credentials:
        workspaceKind: secret
        workspaceRef: github-ssh
      shared-workspace:
        workspaceKind: persistentVolumeClaim
        workspaceRef: {{ .Values.buildahWorkspaceName }}
      dockerconfig:
        workspaceKind: secret
        workspaceRef: scr-{{ .Environment.Name }}
  buildbuildahImageCodehub:
    name: {{ .Release.Name }}-testrun-codehub-{{ randAlphaNum 5 | lower }}
    addRandomDateToRunName: false
    namespace: {{ .Release.Namespace }}
    kind: Pipeline
    ref: build-buildah-image
    params:
      gitRepoUrl: git@codehub.sva.de:Lab/stuttgart-things/stuttgart-things.git
      git-revision: master
      context: /buildah/sthings-alpine
      gitWorkspaceSubdirectory: /buildah/sthings-alpine-codehub
      image: {{ .Values.registry }}/sthings-alpine/sthings-alpine
      tag: 230305-0403
      registry: {{ .Values.registry }}
      dockerfile: images/sthings-alpine/Dockerfile
    workspaces:
      ssh-credentials:
        workspaceKind: secret
        workspaceRef: codehub-ssh
      shared-workspace:
        workspaceKind: persistentVolumeClaim
        workspaceRef: {{ .Values.buildahWorkspaceName }}
      dockerconfig:
        workspaceKind: secret
        workspaceRef: scr-{{ .Environment.Name }}